{% extends "base.html" %}
{% load static %}

{% block conteudo %}
<h1>Entrar</h1>
{% if erro %}
    <p class="erro">
        {{ erro }}
    </p>
{% endif %}
<form method="POST">
    <p>
        <label for="email">E-mail:</label>
        <input id="email" name="email" type="email" />
    </p>
    <p>
        <label for="senha">Senha:</label>
        <input id="senha" name="senha" type="password" />
    </p>
    <p>
        <button type="submit">Enviar</button>
    </p>

</form>
{% endblock %}